@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
html {
  scroll-behavior: smooth;
}

main {
  font-family: "Raleway", sans-serif;
  color: rgb(68, 68, 68);
  background-color: rgb(245, 240, 234);
}

.cover {
  min-height: 100vh;
  position: relative;
  background-image: url("img/cover.jpg");
  background-repeat: no-repeat;
  background-position: 44%;
  background-size: cover;
}
@media ((min-width: 1024px) and (max-width: 1280px)) {
  .cover {
    background-position: 67%;
  }
}
@media (min-width: 1280px) {
  .cover {
    background-position: 77%;
  }
}
.cover__heading {
  position: absolute;
  top: 0;
  left: 24px;
}
.cover__photo {
  height: 100vh;
}
.cover__logo {
  width: 32vw;
  min-width: 160px;
}
@media ((min-width: 1024px) and (max-width: 1560px)) {
  .cover__logo {
    width: 312px;
    padding-top: 16px;
    padding-left: 16px;
    transition: all 0.2s;
  }
}
@media (min-width: 1560px) {
  .cover__logo {
    width: 420px;
    padding-top: 24px;
    padding-left: 24px;
    transition: all 0.2s;
  }
}
.cover__hamburger-container {
  position: fixed;
  z-index: 3;
  display: flex;
  right: 16px;
  top: 16px;
  height: 30px;
  width: 30px;
  background-color: rgba(0, 0, 0, 0.144);
  border-radius: 2px;
  transition: 0.3s;
}
@media (min-width: 1024px) {
  .cover__hamburger-container {
    display: none;
  }
}
.cover__hamburger-icon {
  position: absolute;
  width: 75%;
  height: 2px;
  border-radius: 1.5px;
  background-color: white;
  transition: 0.3s;
  top: 14px;
  left: 3.5px;
}
.cover__hamburger-icon:before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 1.5px;
  background-color: white;
  top: -8px;
}
.cover__hamburger-icon:after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 1.5px;
  background-color: white;
  top: 8px;
}
.cover__hamburger-toggler {
  position: fixed;
  right: 20px;
  top: 20px;
  height: 20px;
  width: 20px;
  margin: 0;
  padding: 0;
  border: 0;
  z-index: 4;
  opacity: 0;
  cursor: pointer;
}
@media (min-width: 1024px) {
  .cover__hamburger-toggler {
    display: none;
  }
}

.cover__hamburger-toggler:checked + .cover__hamburger-container > div {
  transform: rotate(225deg);
  border: 0;
}

.cover__hamburger-toggler:checked + .cover__hamburger-container > div:after, .cover__hamburger-toggler:checked + .cover__hamburger-container > div:before {
  transform: rotate(90deg);
  top: 0;
}

.cover__hamburger-toggler:checked + .cover__hamburger-container {
  transform: rotate(-90deg);
}

.navigation {
  display: none;
  color: white;
  transition: 0.4s;
  padding: 32px 48px;
}
.navigation--sticky {
  position: fixed;
  top: 0;
  right: 0;
  padding: 0px 48px;
  width: calc(100% - 96px);
  background-color: black;
}
@media (min-width: 1024px) {
  .navigation {
    display: grid;
    grid-template-columns: 4% 96%;
    align-items: center;
    font-size: 20px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
  }
}
.navigation__heading {
  margin: 0;
  height: 65px;
}
.navigation__logo {
  height: 87%;
  opacity: 0;
  margin-top: 4px;
  transition: all 0.4s;
}
.navigation__logo--visible {
  opacity: 1;
}
.navigation__list {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  list-style: none;
}
.navigation__element {
  padding: 0 16px;
}
.navigation__link {
  text-decoration: none;
  color: white;
  transition: 0.4s;
}
.navigation__link:hover {
  color: rgb(224, 206, 177);
}

.mobile-navigation {
  position: fixed;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
  background-color: rgba(29, 28, 23, 0.862745098);
  height: 100vh;
  width: 100vw;
  visibility: hidden;
  transform: translate(-100%);
  transition: 0.7s;
}
@media (min-width: 1024px) {
  .mobile-navigation {
    display: none;
  }
}
.mobile-navigation__heading {
  width: 180px;
}
.mobile-navigation__logo {
  width: 100%;
}
.mobile-navigation__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 42px 0 0 0;
  list-style-type: none;
}
.mobile-navigation__element {
  padding: 16px 0;
  font-size: 24px;
}
.mobile-navigation__link {
  text-decoration: none;
  color: white;
  transition: 0.4s;
}
.mobile-navigation__link:hover {
  color: rgb(224, 206, 177);
}
@media (max-height: 600px) {
  .mobile-navigation {
    display: grid;
    justify-items: center;
    width: calc(100% - 48px);
    grid-template-columns: 1fr 1fr;
    padding: 0 24px;
  }
  .mobile-navigation__list {
    padding: 0;
  }
  .mobile-navigation__element {
    font-size: 16px;
    padding: 12px 0;
  }
}

.cover__hamburger-toggler:checked ~ .mobile-navigation {
  visibility: visible;
  transform: translate(0);
  transition: 0.6s;
}

.about {
  padding: 32px 16px;
}
.about__grid {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  max-width: 480px;
  margin: auto;
  padding-bottom: 32px;
}
.about__heading {
  text-align: center;
  margin: 0;
  padding: 32px;
  font-size: 38px;
}
.about__text {
  text-align: justify;
  line-height: 32px;
  font-size: 20px;
  margin: 0;
}
.about__text--red {
  color: red;
}
.about__photo {
  width: 160px;
  border-radius: 100%;
  margin-bottom: 24px;
  margin-top: 32px;
}

.album {
  background-color: white;
  padding: 32px 16px;
}
.album__heading {
  text-align: center;
  margin: 0;
  padding: 32px;
  font-size: 38px;
}
.album__grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 16px;
  padding: 32px;
  max-width: 420px;
  margin: auto;
  transition: all 0.2s;
}
@media ((min-width: 640px) and (max-width: 1024px)) {
  .album__grid {
    grid-template-columns: 1fr 1fr;
    max-width: 720px;
  }
}
@media (min-width: 1024px) {
  .album__grid {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1024px;
  }
}
.album__card {
  width: 100%;
}
.album__photo {
  width: 100%;
}

.mail {
  padding: 32px 16px;
}
.mail__heading {
  text-align: center;
  margin: 0;
  padding: 32px;
  font-size: 38px;
}
.mail__form {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  margin: auto;
  gap: 8px;
  padding: 32px 0;
}
.mail__label {
  padding-top: 8px;
  font-weight: 700;
}
.mail__input {
  padding: 8px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px rgb(245, 227, 204) solid;
  outline-color: rgb(243, 225, 192);
}
.mail__input--background {
  cursor: pointer;
  background-color: #81c784;
  transition: all 0.3s;
}
.mail__input--background:hover {
  background-color: #5ea561;
}
.mail__textarea {
  min-height: 240px;
  max-height: 320px;
  box-sizing: border-box;
  min-width: 100%;
  max-width: 100%;
  padding: 8px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px rgb(255, 247, 237) solid;
  outline-color: rgb(243, 225, 192);
}

.contact {
  background-color: #000000;
  display: grid;
  padding: 32px 16px;
  justify-items: center;
}
.contact__logo {
  width: 180px;
  padding-bottom: 32px;
}
.contact__socials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  padding-bottom: 32px;
}
.contact__icon {
  color: rgb(255, 255, 255);
  width: 32px;
  height: 32px;
}
.contact__flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 24px;
}
.contact__text {
  color: rgb(255, 255, 255);
  font-size: 12px;
  margin: 8px 0;
}
@media (min-width: 640px) {
  .contact__text {
    font-size: 16px;
  }
}
.contact__link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 12px;
}
@media (min-width: 640px) {
  .contact__link {
    font-size: 16px;
  }
}
.contact__link:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=styles.css.map */
