@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:wght@400;700&display=swap");
main {
  font-family: "Inria Serif", serif;
  color: rgb(68, 68, 68);
  background-color: rgb(247, 234, 218);
}

.cover {
  min-height: 100vh;
  position: relative;
  background-image: url("img/cover.jpg");
  background-repeat: no-repeat;
  background-position: 44%;
  background-size: cover;
}
@media ((min-width: 1024px) and (max-width: 1280px)) {
  .cover {
    background-position: 67%;
  }
}
@media (min-width: 1280px) {
  .cover {
    background-position: 77%;
  }
}
.cover__heading {
  position: absolute;
  top: 0;
  left: 24px;
}
.cover__photo {
  height: 100vh;
}
.cover__logo {
  width: 32vw;
  min-width: 120px;
}
@media ((min-width: 1024px) and (max-width: 1560px)) {
  .cover__logo {
    width: 312px;
    padding-top: 16px;
    padding-left: 16px;
    transition: all 0.2s;
  }
}
@media (min-width: 1560px) {
  .cover__logo {
    width: 420px;
    padding-top: 24px;
    padding-left: 24px;
    transition: all 0.2s;
  }
}
.cover__hamburger {
  position: absolute;
  right: 24px;
  top: -40px;
  color: white;
  font-size: 48px;
}

.navigation {
  display: none;
  color: white;
}

.about {
  padding: 32px 16px;
}
.about__grid {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  max-width: 480px;
  margin: auto;
  padding-bottom: 32px;
}
.about__heading {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 32px;
  font-size: 38px;
}
.about__text {
  text-align: center;
  line-height: 32px;
  font-size: 20px;
  margin: 0;
  font-weight: 700;
}
.about__text--red {
  color: red;
}
.about__photo {
  width: 160px;
  border-radius: 100%;
  margin-bottom: 24px;
  margin-top: 32px;
}

.album {
  background-color: white;
  padding: 32px 16px;
}
.album__heading {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 32px;
  font-size: 38px;
}
.album__grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 16px;
  padding: 32px;
  max-width: 420px;
  margin: auto;
  transition: all 0.2s;
}
@media ((min-width: 640px) and (max-width: 1024px)) {
  .album__grid {
    grid-template-columns: 1fr 1fr;
    max-width: 720px;
  }
}
@media (min-width: 1024px) {
  .album__grid {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1024px;
  }
}
.album__card {
  width: 100%;
}
.album__photo {
  width: 100%;
}

.mail {
  padding: 32px 16px;
}
.mail__heading {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 32px;
  font-size: 38px;
}
.mail__form {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  margin: auto;
  gap: 8px;
  padding: 32px 0;
}
.mail__label {
  padding-top: 8px;
  font-weight: 700;
  text-transform: uppercase;
}
.mail__input {
  padding: 8px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 24px;
  border-bottom: 2px rgb(245, 227, 204) solid;
  outline-color: rgb(252, 212, 139);
}
.mail__input--background {
  cursor: pointer;
  background-color: rgb(255, 221, 159);
  transition: all 0.3s;
}
.mail__input--background:hover {
  background-color: #1EA896;
}
.mail__textarea {
  min-height: 240px;
  max-height: 320px;
  box-sizing: border-box;
  min-width: 100%;
  max-width: 100%;
  padding: 8px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 24px;
  border-bottom: 2px rgb(245, 227, 204) solid;
  outline-color: rgb(252, 212, 139);
}

.contact {
  background-color: #693c18;
  display: grid;
  padding: 32px 16px;
  justify-items: center;
}
.contact__logo {
  width: 240px;
  padding-bottom: 32px;
}
.contact__socials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  padding-bottom: 32px;
}
.contact__icon {
  color: rgb(247, 234, 218);
  width: 32px;
  height: 32px;
}
.contact__text {
  color: rgb(247, 234, 218);
}
.contact__link {
  color: rgb(247, 234, 218);
}

/*# sourceMappingURL=styles.css.map */
