@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:wght@400;700&display=swap');

$basicfontcolor: rgb(68, 68, 68);

$mobilesmall: 640px;
$mobilelarge: 768px;
$desktopsmall: 1024px;
$desktoplarge: 1280px;

// html {
//     // line-height: 0.73;
//   }

main {
    font-family: 'Inria Serif', serif;
    color: $basicfontcolor;
    background-color: rgb(247, 234, 218);

}

.cover {
    height:fit-content;
    position: relative;
    &__heading {
    position: absolute;
    top: 0;
    left: 24px;
    }
    &__photo {
    width: 100%;
    }
    &__logo {
    width: 32vw;
        @media ((min-width: $desktopsmall) and (max-width: $desktoplarge)) {
            width: 328px;
            padding-top: 16px;
            padding-left: 16px;
            transition: all .2s;

        }
        @media (min-width: $desktoplarge) {
            width: 424px;
            padding-top: 24px;
            padding-left: 24px;
            transition: all .2s;
        }
    }
    &__hamburger {
    position: absolute;
    right: 24px;
    top: -40px;
    color: white;
    font-size: 48px;
    }
}

.navigation {
    display: none;
    color: white;
}

.about {
    padding: 0px 16px;
    &__grid {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
        max-width: 480px;
        margin: auto;
        padding-bottom: 32px;
    }
    &__heading {
        text-align: center;
        text-transform: uppercase;
        margin: 0;
        padding: 32px;
        font-size: 38px;
    }
    &__text {
        text-align: center;
        line-height: 32px;
        font-size: 20px;
        margin: 0;
        font-weight: 700;
    }
    &__photo {
        width: 200px;
        border-radius: 100%;
        margin-bottom: 24px;
    }
}

.album {
    background-color: white;
}