@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

$basicfontcolor: rgb(68, 68, 68);

$mobilesmall: 640px;
$mobilelarge: 768px;
$desktopsmall: 1024px;
$desktoplarge: 1280px;

$desktoplargeforlogo: 1560px;


// html {
//     // line-height: 0.73;
//   }

main {
    font-family: 'Raleway', sans-serif;
    color: $basicfontcolor;
    background-color: rgb(245, 240, 234);

}

.cover {
    min-height: 100vh;
    position: relative;
    background-image: url('img/cover.jpg');
    background-repeat: no-repeat;
    background-position: 44%;
    background-size: cover;
    @media ((min-width: $desktopsmall) and (max-width: $desktoplarge)) {
        background-position: 67%;
    }
    @media (min-width: $desktoplarge) {
        background-position: 77%;
    }
    &__heading {
    position: absolute;
    top: 0;
    left: 24px;
    }
    &__photo {
    height: 100vh;
    }
    &__logo {
    width: 32vw;
    min-width: 120px;
        @media ((min-width: $desktopsmall) and (max-width: $desktoplargeforlogo)) {
            width: 312px;
            padding-top: 16px;
            padding-left: 16px;
            transition: all .2s;

        }
        @media (min-width: $desktoplargeforlogo) {
            width: 420px;
            padding-top: 24px;
            padding-left: 24px;
            transition: all .2s;
        }
    }
    &__hamburger {
    position: absolute;
    right: 24px;
    top: -40px;
    color: white;
    font-size: 48px;
    }
}

.navigation {
    display: none;
    color: white;
}

.about {
    padding: 32px 16px;
    &__grid {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
        max-width: 480px;
        margin: auto;
        padding-bottom: 32px;
    }
    &__heading {
        text-align: center;
        margin: 0;
        padding: 32px;
        font-size: 38px;
    }
    &__text {
        text-align: justify;
        line-height: 32px;
        font-size: 20px;
        margin: 0;
        &--red {
            color: red;
        }
    }
    &__photo {
        width: 160px;
        border-radius: 100%;
        margin-bottom: 24px;
        margin-top: 32px;
    }
}

.album {
    background-color: white;
    padding: 32px 16px;
    &__heading {
        text-align: center;
        margin: 0;
        padding: 32px;
        font-size: 38px;
    }
    &__grid {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 16px;
        padding: 32px;
        max-width: 420px;
        margin: auto;
        transition: all .2s;
        @media ((min-width: $mobilesmall) and (max-width: $desktopsmall)) {
            grid-template-columns: 1fr 1fr;
            max-width: 720px;
        }
        @media (min-width: $desktopsmall) {
            grid-template-columns: 1fr 1fr 1fr;
            max-width: 1024px;
        }
    }
    &__card {
        width: 100%;
    }
    &__photo {
        width: 100%;
    }
}

.mail {
    padding: 32px 16px;
    &__heading {
        text-align: center;
        margin: 0;
        padding: 32px;
        font-size: 38px;
    }
    &__form {
        display: flex;
        flex-direction: column;
        max-width: 480px;
        margin: auto;
        gap: 8px;
        padding: 32px 0;
    }
    &__label {
        padding-top: 8px;
        font-weight: 700;
    }
    &__input {
        padding: 8px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px rgb(245, 227, 204) solid;
        outline-color:rgb(243, 225, 192);
        &--background {
            cursor: pointer;
            background-color: #81c784;
            transition: all .3s;
            &:hover {
                background-color: #5ea561;
            }
        }
    }
    &__textarea {
        min-height: 240px;
        max-height: 320px;
        box-sizing: border-box;
        min-width: 100%;
        max-width: 100%;
        padding: 8px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px rgb(255, 247, 237) solid;
        outline-color:rgb(243, 225, 192);
    }
}

.contact {
    background-color: #000000;
    display: grid;
    padding: 32px 16px;
    justify-items: center;
    &__logo {
        width: 240px;
        padding-bottom: 32px;
    }
    &__socials {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;
        padding-bottom: 32px;
    }
    &__icon {
        color: rgb(247, 234, 218);
        width: 32px;
        height: 32px;
    }
    &__text {
        color: rgb(247, 234, 218);
    }
    &__link {
        color: rgb(247, 234, 218);
    }
}